@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body{
	line-height:40px;
	font-family: 'Montserrat';
	background-color: #FFFEA1;
}

p{
	font-size: 1.5em;
}

#header{
	display: flex;
	justify-content: center;
	Background-Color: #FFFFE0;
}

#header-page{
	display: flex;
	justify-content:space-between;
	Background-Color: #FFFFE0;
}

#fleches{
	display: flex;
	justify-content:space-between;}

.logo{
	display: flex;
	justify-content: space-around;
	margin-top: 1em;
}

.nav{
display: flex;
justify-content: space-around;
}

ul{
	display: flex;
	justify-content: space-around;
}

li {
	padding: 2em;
	list-style: none;
}

video {
	display: block;
	margin-left: auto;
	margin: auto;
}

h1 {
	margin-top: 2.3em;
  font-size: 1.5em;
	text-align: center;
	display: flex;
	color: #DAA520;
	font-family: 'Gloria Hallelujah';
}

h3 {
	margin-top: 3em;
	margin-right: 1em;
  font-size: 1.2em;
	display: flex;
	justify-content: space-around;
	color: black;
	font-family: 'Gloria Hallelujah';
}

 h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
	font-size: 2em;
}

.comp-section-content{
  font-size: 14px;
  margin-left: 0em;
  margin-top: 2em;
  margin-right: 1em;
  text-align: center;
  display: flex;
}

.comp-content{
	width:25%;
	padding:1em;
}


.image {
	display: block;
	margin: auto;
	margin-top: 1em;
	width:300px;
	height:300px;
}

a:link {
	font-size: 1.5em;
	font-family: 'Gloria Hallelujah';
	text-decoration: none;
	color: black;
}
a:hover {
    color: lightblue;
}

video {
	margin-top: 1em;
}
