@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body{
	line-height:40px;
	font-family: 'Montserrat';
}

/*header{
	display: flex;
	justify-content: space-between;
	Background-Color: #FFFEA1;
}*/

#header{
	display: flex;
	justify-content: center;
	Background-Color: #FFFFE0;
	padding: 10px;
}

footer{
	display: flex;
	justify-content: space-between;
	Background-Color: #FFFEA1;
}

.logo{
	display: flex;
	justify-content: space-between;
	image
}

.nav{
display: flex;
justify-content: space-around;
}

ul{
	display: flex;
	justify-content: space-around;
	margin
}

li {
	padding: 2em;
	list-style: none;
}

video {
	display: block;
	margin-left: auto;
	margin: auto;
}

h1 {
	margin-top: 1.4em;
  font-size: 2.5em;
	text-align: center;
	display: flex;
	color: #DAA520;
	font-family: 'Gloria Hallelujah';
}

#comp h2 {

  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.comp-section-content{
  font-size: 12px;
  margin-left: 0em;
  margin-top: 2em;
  margin-right: 1em;
  text-align: center;
  display: flex;
}

.comp-content{
	width:25%;
	padding:1em;

}
.comp-content p{
	margin-top:1em;
}

.image {
	display: block;
	margin: 0 auto;
	width:300px;
	height:300px;
}

a:link {
	font-size: 1em;
	font-family: 'Montserrat';
	text-decoration: none;
	color: black;
}
a:hover {
    color: lightblue;
}
